@import "tailwindcss";

@theme {
  --color-rsp-blue: #2c93d8;
  --color-balen-black: #1a1a1a;
  --color-accent-gold: #facc15;
  --color-bg-light: #f8f9fa;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #f8f9fa;
  --foreground: #1a1a1a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
